/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
/* main {
    max-width: 1200px;
    margin: auto;
} */

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  
header {
    background-color: #fbfbfb;
    color: #fff;
    padding: 90px;
    display: flex;
    
  }
  
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
nav li {
    display: inline-block;
    margin-right: 25px;
  }
  
nav li:last-child {
    margin-right: 0;
  }

nav a {
    color: #0f0f0f;
    text-decoration: none;
  }

img { width: 150px;
        display: flex;
        justify-content: flex-end;
 }

 .img1 { width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.img2 { width: 50px;
  border-block-color: black;
  background-color: #fbfbfb;
  display: inline-block;
  justify-content: space-between;
  
}

main { display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

section p {
    margin-bottom: 40px;
    text-align: center;
  }

section h1 {
    margin-bottom: 40px;
    text-align: center;
  }

section h2 {
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 2px solid #af599f;
    padding-bottom: 10px;
  }

.button {
  border: 0;
  background-color: #af599e;
  border-block-color: #fbfbfb;
  line-height: 2.5;
  /* border-radius: 15px 15px 15px 15px; */
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color:  #fbfbfb;
  font-size: 20px;
  block-size: 50%;
  align-content: center;
  justify-content: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

.button:hover {
  background-color: #a8108a;
}

/* .button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
} */

h1 {
    font-weight: 700;
  }

h2 {
    color: #0f0f0f;
    font-size: 28px;
  }

article p {
    text-align: center;
    
  }

article {
    background-color: rgba(175, 89, 158, 0.3);
    padding: 20px;
    border-radius: 10px;
  }

/* article p:first-of-type {
    font-style: italic;
    }   */

footer {
    background-color: #fbfbfb;
    color: #fff;
    padding: 90px;
    text-align: center;
  }

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer  {
    list-style-type: none;
    margin: 0;
    padding: 90px;
    background-color: #af599e;
    }
    
footer div li {
    display: inline-block;
    margin-right: 10px;
    
    }
    
footer div li:last-child {
    margin-right: 0;
    }
    
footer a {
    color: #fff;
    text-decoration: none;
    }
    
       
